/* Background container to fill the space behind the about container */
.background-container {
    position: fixed; /* Fixes the position of the container in the viewport */
    top: 0; /* Positions the container at the top of the viewport */
    left: 0; /* Positions the container to the left of the viewport */
    width: 100%; /* Makes the container take up the full width of the viewport */
    min-height: 100vh; /* Ensures that the container has at least the height of the viewport */
    background-color: #131313; /* Sets the background color of the container */
    z-index: -1; /* Puts the container behind other positioned elements */
}

/* Styling for the about section */
.about-container {
    max-width: 1200px; /* Sets a maximum width for the container */
    margin: 50px auto; /* Centers the container horizontally and adds margin at the top and bottom */
    padding: 70px; /* Adds internal space around the content inside the container */
    background-color: #000000; /* Sets the background color of the container */
    border-radius: 15px; /* Adds rounded corners to the container */
}

.about-container h1 {
    font-size: 2.5em; /* Sets the font size of the heading */
    margin-bottom: 20px; /* Adds space below the heading */
    color: #fff; /* Sets the text color of the heading */
}

.about-container p {
    font-size: 1.2em; /* Sets the font size of the paragraph */
    line-height: 1.5; /* Sets the space between lines in the paragraph */
    color: #fff; /* Sets the text color of the paragraph */
}

/* Styling for buttons */
button {
    font-size: 1rem; /* Sets the font size of the button text */
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%); /* Adds a gradient background color to the button */
    padding: 12px 50px; /* Adds internal space within the button */
    border: none; /* Removes the border around the button */
    border-radius: 4px; /* Adds rounded corners to the button */
    color: #fff; /* Sets the color of the button text */
    margin: 2.5rem 0; /* Adds margin above and below the button */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    position: relative; /* Allows for positioning of child elements relative to this button */
    transition: all 0.35s; /* Adds a transition effect to all properties of the button */
    outline: none; /* Removes the focus outline from the button */
    z-index: 1; /* Positions the button above the :after pseudo-element */
}

button:after {
    position: absolute; /* Positions the pseudo-element relative to the button */
    content: ''; /* Sets the content of the pseudo-element as empty */
    top: 0; /* Positions the pseudo-element at the top of the button */
    left: 0; /* Positions the pseudo-element at the left of the button */
    width: 0; /* Initially sets the width of the pseudo-element to 0 */
    height: 100%; /* Makes the pseudo-element take up the full height of the button */
    background: #4837ff; /* Sets the background color of the pseudo-element */
    transition: all 0.35s; /* Adds a transition effect to all properties of the pseudo-element */
    border-radius: 4px; /* Adds rounded corners to the pseudo-element */
    z-index: -1; /* Positions the pseudo-element behind the button text */
}

button:hover:after {
    width: 100%; /* Makes the pseudo-element take up the full width of the button on hover */
}

/* Styling for a hidden class */
.hidden, .hidden-content {
    display: none; /* Hides the elements with this class */
}


